# Resource locations to be added to the 'boostrap' path

# This also contains the minimum you need to use the Ogre example framework

[Bootstrap]

Zip=res/OgreCore.zip
Zip=res/cubemapsJS.zip

 

# Resource locations to be added to the default path

[General]

FileSystem= res
FileSystem= res/scene
FileSystem= res/model
FileSystem= res/model/car
FileSystem= res/skybox